{% extends "shapefileviewer/base.html" %}

{% block app_navigation_items %}
  <li class="active"><a href="{% url 'shapefileviewer:home' %}">Home</a></li>
  <li><a href="{% url 'shapefileviewer:map' %}">View Shapefile</a></li>
{% endblock %}

{% block app_content %}

  <h1>Welcome to the HydroShare Shapefile Viewer Tool!</h1>
  <p>The shapefile viewer app allows a HydroShare user to view an uploaded shapefile. The shapefile needs to be zipped and will open as soon as the user clicks on the view map tool.</p>
  <p>For more info, please check the <a href="https://github.com/SarvaPulla/sfviewer">source code</a> at GitHub</p>
	
	
{% endblock %}

{% block app_actions %}
{% endblock %}